<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}            
            <link href="{{ asset('/bundles/fo/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('/bundles/fo/css/bootstrap.min2.css') }}" rel="stylesheet" />
            <link href="{{ asset('/bundles/fo/css/bootstrap-responsive.min.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style type="text/css">
            body{
                margin-top: 50px;
            }
        </style>
    </head>
    <body>
        <header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
            <div class="container">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="navbar-header">
                    <a href="{{ path('fos_user_profile') }}" class="navbar-brand">{{ app.user.username }}</a>
                </div>
                {% endif %}
                <nav class="navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="{{ path('fo_homepage') }}">Accueil</a></li>
                        <li class=""><a href="{{ path('communication_nv1') }}">Niveau 1</a></li>
                        <li class=""><a href="{{ path('communication_nv2') }}">Niveau 2</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('sonata_admin_dashboard') }}">Administration</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>Bienvenue sur l'applications numérique pour les enfants autistes</p>
        {# <p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p> #}
      </div>
    </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('/bundles/fo/js/jquery-1.9.1.js') }}"></script>
            <script src="{{ asset('/bundles/fo/js/jquery-ui-1.10.3.js') }}"></script>
            <script src="{{ asset('/bundles/fo/js/jquery-highlight1.js') }}"></script>
            <script src="{{ asset('/bundles/fo/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>




    {# L'utilisateur est-il connecté ? #}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {# L'utilisateur est connecté ! #}
        {# Bien le bonjour {{ app.user.username }} ! <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a> #}

        {# L'utilisateur est-il admin ? #}
        {% if is_granted('ROLE_ADMIN') %}
            {# L'utilisateur est admin ! #}
            {# <a href="{{ path('sonata_admin_dashboard') }}">Administration</a> #}
        {% endif %}
    {% else %}
        {# L'utilisateur n'est pas connecté ! #}
        {# <a href="{{ path('fos_user_security_login') }}">Connexion</a> #}
        {# <a href="{{ path('fos_user_registration_register') }}">Inscription</a> #}
    {% endif %}