{% extends "::base.html.twig" %}

{% block title %}{{parent()}} - Niveau2{% endblock %}
{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('/bundles/fo/css/jquery-ui-1.10.3.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/fo/css/jquery-ui-1.10.4-smoothness.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/fo/css/jquery.highlighttextarea.css') }}" rel="stylesheet" />
    <style>
        #gallery { 
            float: left; 
            width: 50%; 
            min-height: 6em; 
        }
        .theme-pictos { 
            float: left; 
            width: 50%; 
            min-height: 6em; 
        }
        .gallery li, .theme-gal li { 
            float: left; 
            //width: 96px; 
            padding: 0.4em; 
            margin: 0 0.4em 0.4em 0; 
            text-align: center; 
        }
        .theme-gal li:hover { 
            cursor: pointer;
        }
        #box { 
            float: left; 
            width: 32%; 
            min-height: 8em; 
            padding: 1%; 
        }
  
        .picto-div {
            width: 80px;
            height: 100px;
            text-align: center;
            border: solid;
            border-width: thin;
        }
        
        .picto-image {
            width: 80px;
            height: 80px;
            display: block;
        }
        .picto-mot, .picto-phrase {
            margin: auto;
        }
        .zone-text {
            display: inline-block;
        }
    
        .highlight { 
            background-color: yellow; 
        }
        
        // ======= niveau II ========
        .toggler { 
            width: 50%; 
            height: 200px; 
        }
        #button { 
            padding: .5em 1em; 
            text-decoration: none; 
        }
        #effect { 
            width: 80%; 
            height: 180px; 
            padding: 0.4em; 
            position: relative; 
            margin: auto;
        }
        #effect h3 { 
            margin: 0; 
            padding: 0.4em; 
            text-align: center; 
        }        
    </style>
{% endblock %}

{% block body %}
    <div class="container ui-widget ui-helper-clearfix">
    <h1>Communication - Niveau 2</h1>
        {# ========== Partie supérieur ========== #}
        <div class="row part-1" id="pool-pictos">
            
            
            {# we work here - theme #}
            <ul id="ul-theme" class="theme-gal ui-helper-reset ui-helper-clearfix">
                {% for theme in themes %}
                <li class="ui-widget-content ui-corner-tr">
                    <div class="theme-picto-div" itemid="{{theme.id}}">
                        <img class="picto-image" src="{{ asset('/bundles/fo/image/theme/'~theme.pictoUrl )}}" alt="{{theme.titre}}">
                        <p class="picto-p">{{theme.titre}}</p>
                    </div>  
                </li>
                {% endfor %}
            </ul>
            
            {# we work here - theme-pictos toggle #}
            <div class="container" id="themes-pictos-pool">                
                {# loop all the themes #}
                {% for theme in themes %}
                <div id="div-theme-toggle-{{theme.id}}" class="container toggle theme-pictos">
                    <ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix ui-state-default">
                    {# loop all the pictos #}
                    {% for picto in pictos %}
                        {# if a pictos is under one themes #}
                        {% if picto.refMot.refTheme %}
                            {# if the picto is under the current theme #}
                            {% if picto.refMot.refTheme.id == theme.id%}
                        <li class="ui-widget-content ui-corner-tr">
                        <div id="div-pictos-toggle{{picto.id}}" class="picto-unit" themeid="{{picto.refMot.refTheme.id}}">
                            <div class="picto-div">
                                <img class="picto-image" src="{{ asset('/bundles/fo/image/picto/'~picto.pictoUrl )}}" alt="{{picto.refMot.titre}}">
                                <p class="picto-mot">{{picto.refMot.titre}}</p>
                                <p class="picto-phrase hidden">{{picto.refPhrase.contenu}}</p>
                            </div> 
                        </div>
                        </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
            
        </div>
        <hr/>
        {# ========== Partie inférieur ========== #}
        <div class="row part-2">
            <div id="box" class="ui-widget-content ui-state-default">
                
            </div>
            <div id="zone-text">
                <p></p>
            </div>
            <button class="btn" id="btn-play">Lecture</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {# <script src="{{ asset('/bundles/fo/js/google-tts.js') }}"></script>
    <script src="{{ asset('/bundles/fo/js/soundmanager2.js') }}"></script>
    <script src="{{ asset('/bundles/fo/js/jquery.highlighttextarea.js') }}"></script> #}
    <script type="text/javascript">
        $(function() {
            // there's the gallery and the box
            var $gallery = $( "#gallery" ),
                $box = $( "#box" );
            
            
            // let the gallery items be draggable
            $( ".gallery li" ).draggable({
                cancel: "a.ui-icon", // clicking an icon won't initiate dragging
                revert: "invalid", // when not dropped, the item will revert back to its initial position
                containment: ".content",
                helper: "clone",
                cursor: "move",
                snap: true,
                snapMode: 'inner'
              });
            
            // let the trash be droppable, accepting the gallery items
            $box.droppable({
                accept: ".theme-pictos > .gallery > li",
                activeClass: "ui-state-highlight",
                snap: true,
                snapMode: 'inner',
                drop: function( event, ui ) {
                  dropPicto( ui.draggable );
                }
            }); 
            
            // let the gallery be droppable as well, accepting items from the trash
            $('.gallery').droppable({
              accept: "#box ul li",
              activeClass: "ui-state-highlight",
              drop: function( event, ui ) {
                restorerPicto( ui.draggable );
              }
            });
            
            /*
             * fonction mettre les pictos dans la box / la 2ere partie
             * @returns {undefined}
             */ 
            function dropPicto( $item ) {
                $item.fadeOut(function() {                    
                  var $list = $( "ul", $box ).length ?
                    $( "ul", $box ) :
                    $( "<ul class='gallery ui-helper-reset'/>" ).appendTo( $box );                    
                    // Animation pour append
                    $item.appendTo( $list ).fadeIn(function() {
                        $item
                          .animate({ width: "auto" })
                          .find( "img" )
                            .animate({ height: "80px" });
                    // desactiver le drag des pictos, 
                    //$( "li", $gallery ).draggable('disable');
                    // Recuperer tous les mots des items dans la box
                    var $textArray = '';
                     
                        $textArray = $('#box > ul > li > .picto-unit > .picto-div > .picto-phrase').text();                        
                    console.log($textArray);
                    $textArray = $.trim($textArray);
                    
                    // Afficher le texte des pictos
                    $('#zone-text')
                      .find('p')
                        .html($textArray);
                  });
                });
              }
              
            /*
             * Fonction restorer / re-mettre les pictos dans la 1ere partie
             * @returns {undefined}
             */
            function restorerPicto( $item ) {
                var themeId = $item.find('div').attr('themeId');
                console.log(themeId);
                $item.fadeOut(function() {
                    $item
                        .appendTo( $('#div-theme-toggle-' + themeId + ' ul') )
                        .fadeIn();
                
                // Recuperer tous les mots des items dans la box
                var $textArray = '';
                $('#box > ul > li > .picto-unit > .picto-div > .picto-phrase').each(function () { 
                    $textArray += ' ' + $(this).text();                        
                });

                // Afficher le texte du picto
                $('#zone-text')
                  .find('p')
                    .html($textArray);
                
                // activer le drag des pictos, 
                //$( "li", $gallery ).draggable('enable');
                
                });
            }
            
            // ============= Reading & highlight ===================
            $('#btn-play').click(function () {
                audioPlay();
            });
            
            /*
            * Fonction de lire
            * @param {type} word
            * @returns {undefined}
            */
           function audioPlay() {
               // Diviser la phrase dans le textarea en mots
               var textArray = $('#zone-text p').text().split(" ");
               // Sil na pas de texte disponible, lancer une alerte et sarreter
               if (!$.trim(textArray).length) {
                   alert ('Veuillez choisir un pictogramme');
                   return;
               }
               //console.log(textArray);
               // Initier lelement audio (pas de balise "<audio>")
               //var audio = document.createElement('audio');
               var audio = new Audio();
               // Initier lindex mot (0 pour le primer)
               var index = 0;
               // Initier la duree de temps
               var timeSpan = 0;

               /*
                * Boucle de traitement des mots: LIRE, mettre en SURBRILLANCE
                * @param {type} word
                * @returns {undefined}
                */
               function myLoop() {
                   // Boucler les action avec une pause indeterminee
                   setTimeout(function() {
                       // Effacer tout surbrillance
                       removeHighLight();
                       // Return when reaches the end of array
                       if (index === textArray.length) {
                           console.log('-- reading finished --');
                           return;
                       }

                       // Recuperer un element(mot) de lArray
                       var sWord = textArray[index];
                       // Recuperer le longueur du mot (pour definir le temps)
                       var sWordLength = sWord.length;

                       // Ici on va definir le temps de pronociation(time span) de mot
                       // Si le mot actuel est un non-chiffre
                       if (isNaN(sWord)) {
                           // ~12 characters will be read in 1 second
                           timeSpan = 500 * sWordLength / 6 + 1000;
                       } else {
                           //pour les chiffre, on definit le temps: 1.8s
                           timeSpan = 1800;
                       }
                       
                       // Utiliser la methode de notre site, epecher denvoyer le referer header.
                       audio.src = '{{ app.request.getBaseURL() }}/soundrequest?text_to_read=' + sWord;
                       audio.type = 'audio/mpeg';
                       // empecher denvoyer referer header
                       audio.rel = 'noreferrer';
                       audio.load();
                       audio.play();
                       
                       // Mettre le mot actuel en surbrillance
                       hightLightWord(sWord);

                       // incrementer lindex
                       index++;
                       myLoop();
                   }, timeSpan);

               }
               myLoop();
           }

           /*
            * Mettre un mot en surbrillance
            * @param {type} word
            * @returns {undefined}
            */
           function hightLightWord(word) {
               // active the highlight
               $('#zone-text p').highlight(word,false);
           }

           /*
            * Effacer la surbrillance
            */
           function removeHighLight() {
               $('#zone-text p').removeHighlight();
           }
           
           
           // ============ part 2 ==============
           // vvvvvvvvvvvv ====== vvvvvvvvvvvvvv
           // Cacher le div pictos par default
           $('.theme-pictos').hide();
           var $visible = false;

            // Afficher les pictos quand cliquer sur un theme
            $( "#ul-theme > li" ).click(function() {
              //$('#modal-pictos').modal('show');
              var currentThemeId = $(this).find('div').attr('itemid');
              console.log(currentThemeId);
              $('.theme-pictos').hide();
              $('#div-theme-toggle-'+ currentThemeId).toggle('fast');
                            
              return false;
            });
            
        });
    </script>
{% endblock %}
