{% extends "::base.html.twig" %}

{% block title %}{{parent()}} - Niveau1{% endblock %}
{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('/bundles/fo/css/jquery-ui-1.10.3.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/fo/css/jquery.highlighttextarea.css') }}" rel="stylesheet" />
    <style>
        #gallery { 
            float: left; 
            width: 50%; 
            min-height: 12em; 
        }
        .gallery.custom-state-active { 
            background: #eee; 
        }
        .gallery li { 
            float: left; 
            //width: 96px; 
            padding: 0.4em; 
            margin: 0 0.4em 0.4em 0; 
            text-align: center; 
        }
        .gallery li:hover { 
            cursor: move;
        }
        #box { 
            float: left; 
            width: 32%; 
            min-height: 8em; 
            padding: 1%; 
        }
  
        
        
        {##pool-pictos {
            display: inline-block;
            width: 50%;
        }#}
        .picto-div {
            width: 80px;
            height: 100px;
            text-align: center;
            border: solid;
            border-width: thin;
        }
        .picto-image {
            width: 80px;
            height: 80px;
            display: block;
        }
        .picto-p {
            margin: auto;
        }
        .zone-text {
            display: inline-block;
        }
    
        .highlight { 
            background-color: yellow; 
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Communication - Niveau 1</h1>
    <div class="content ui-widget ui-helper-clearfix">
        {# Partie supérieur #}
        <div class="container part-1" id="pool-pictos">
            
            <ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
                {% for picto in pictos %}
                <li class="ui-widget-content ui-corner-tr">
                    <div class="picto-div">
                        <img class="picto-image" src="{{ asset('/bundles/fo/image/picto/'~picto.pictoUrl )}}" alt="{{picto.refMot.titre}}">
                        <p class="picto-p">{{picto.refMot.titre}}</p>
                    </div>              
                </li>
                {% endfor %}
            </ul>
            
        </div>
        <hr/>
        {# Partie inférieur #}
        <div class="row part-2">
            <div id="box" class="ui-widget-content ui-state-default">
                
            </div>
            <div id="zone-text">
                <p></p>
            </div>
            <button class="btn" id="btn-play">Lecture</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {# <script src="{{ asset('/bundles/fo/js/google-tts.js') }}"></script>
    <script src="{{ asset('/bundles/fo/js/soundmanager2.js') }}"></script>
    <script src="{{ asset('/bundles/fo/js/jquery.highlighttextarea.js') }}"></script> #}
    <script type="text/javascript">
        $(function() {
            // there's the gallery and the box
            var $gallery = $( "#gallery" ),
                $box = $( "#box" );
            
            
            // let the gallery items be draggable
            $( "li", $gallery ).draggable({
                cancel: "a.ui-icon", // clicking an icon won't initiate dragging
                revert: "invalid", // when not dropped, the item will revert back to its initial position
                containment: ".content",
                helper: "clone",
                cursor: "move",
                snap: true,
                snapMode: 'inner'
              });
            
            // let the trash be droppable, accepting the gallery items
            $box.droppable({
                accept: "#gallery > li",
                activeClass: "ui-state-highlight",
                snap: true,
                snapMode: 'inner',
                drop: function( event, ui ) {
                  dropPicto( ui.draggable );
                }
            }); 
            
            // let the gallery be droppable as well, accepting items from the trash
            $gallery.droppable({
              accept: "#box li",
              activeClass: "ui-state-highlight",
              drop: function( event, ui ) {
                restorerPicto( ui.draggable );
              }
            });
            
            /*
             * fonction mettre les pictos dans la box / la 2ere partie
             * @returns {undefined}
             */ 
            function dropPicto( $item ) {
                $item.fadeOut(function() {                    
                  var $list = $( "ul", $box ).length ?
                    $( "ul", $box ) :
                    $( "<ul class='gallery ui-helper-reset'/>" ).appendTo( $box );                    
                    // Animation pour append
                    $item.appendTo( $list ).fadeIn(function() {
                        $item
                          .animate({ width: "auto" })
                          .find( "img" )
                            .animate({ height: "80px" });
                    // desactiver le drag des pictos, 
                    //$( "li", $gallery ).draggable('disable');
                    // Recuperer tous les mots des items dans la box
                    var $textArray = '';
                    $('#box > ul > li > div > p').each(function () { 
                        $textArray += $(this).text() + ' ';                        
                    });
                    $textArray = $.trim($textArray);
                    
                    // Afficher le texte des pictos
                    $('#zone-text')
                      .find('p')
                        .html($textArray);
                  });
                });
              }
              
            /*
             * Fonction restorer / re-mettre les pictos dans la 1ere partie
             * @returns {undefined}
             */
            function restorerPicto( $item ) {
                $item.fadeOut(function() {
                    $item
                        .appendTo( $gallery )
                        .fadeIn();
                
                // Recuperer tous les mots des items dans la box
                var $textArray = '';
                $('#box > ul > li > div > p').each(function () { 
                    $textArray += ' ' + $(this).text();                        
                });

                // Afficher le texte du picto
                $('#zone-text')
                  .find('p')
                    .html($textArray);
                
                // activer le drag des pictos, 
                //$( "li", $gallery ).draggable('enable');
                
                });
            }
            
            // ============= Reading & highlight ===================
            $('#btn-play').click(function () {
                audioPlay();
            });
            
            /*
            * Fonction de lire
            * @param {type} word
            * @returns {undefined}
            */
           function audioPlay() {
               // Diviser la phrase dans le textarea en mots
               var textArray = $('#zone-text p').text().split(" ");
               // Sil na pas de texte disponible, lancer une alerte et sarreter
               if (!$.trim(textArray).length) {
                   alert ('Veuillez choisir un pictogramme');
                   return;
               }
               //console.log(textArray);
               // Initier lelement audio (pas de balise "<audio>")
               //var audio = document.createElement('audio');
               var audio = new Audio();
               // Initier lindex mot (0 pour le primer)
               var index = 0;
               // Initier la duree de temps
               var timeSpan = 0;

               /*
                * Boucle de traitement des mots: LIRE, mettre en SURBRILLANCE
                * @param {type} word
                * @returns {undefined}
                */
               function myLoop() {
                   // Boucler les action avec une pause indeterminee
                   setTimeout(function() {
                       // Effacer tout surbrillance
                       removeHighLight();
                       // Return when reaches the end of array
                       if (index === textArray.length) {
                           console.log('-- reading finished --');
                           return;
                       }

                       // Recuperer un element(mot) de lArray
                       var sWord = textArray[index];
                       // Recuperer le longueur du mot (pour definir le temps)
                       var sWordLength = sWord.length;

                       // Ici on va definir le temps de pronociation(time span) de mot
                       // Si le mot actuel est un non-chiffre
                       if (isNaN(sWord)) {
                           // ~12 characters will be read in 1 second
                           timeSpan = 500 * sWordLength / 6 + 1000;
                       } else {
                           //pour les chiffre, on definit le temps: 1.8s
                           timeSpan = 1800;
                       }
                       
                       // Utiliser la methode de notre site, epecher denvoyer le referer header.
                       audio.src = '{{ app.request.getBaseURL() }}/soundrequest?text_to_read=' + sWord;
                       audio.type = 'audio/mpeg';
                       // empecher denvoyer referer header
                       audio.rel = 'noreferrer';
                       audio.load();
                       audio.play();
                       
                       // Mettre le mot actuel en surbrillance
                       hightLightWord(sWord);

                       // incrementer lindex
                       index++;
                       myLoop();
                   }, timeSpan);

               }
               myLoop();
           }

           /*
            * Mettre un mot en surbrillance
            * @param {type} word
            * @returns {undefined}
            */
           function hightLightWord(word) {
               // active the highlight
               $('#zone-text p').highlight(word,false);
           }

           /*
            * Effacer la surbrillance
            */
           function removeHighLight() {
               $('#zone-text p').removeHighlight();
           }
            
        });
    </script>
{% endblock %}
